<h3>Créditos de la aplicación</h3>

<p>Práctica del módulo 6 perteneciente al curso <a href="https://www.miriadax.net/web/javascript-node-js"><b>Desarrollo de servicios en la nube con HTML5, Javascript y node.js</b></a></p>

<p><img src="/images/author.jpg" width="100"><br/>Javier Bleda</p>
